@font-face{
    font-family: Proxima Nova;
    src: url(Proxima\ Nova.ttf);
}
body *{
    box-sizing: border-box;
    font-family: Proxima Nova;
}
.header{
    height: 75px;
    background-color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.outer-width {
    max-width: 1280px;
    margin: 0 auto;
}
.inner-padding{
    padding-left: 108px;
    padding-right: 108px;
} 
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;  
}
.menu-link{
    margin-left: 18px;
    font-size: 16px;
    color: black; 
}
a{
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    color: #FF7E00;
}
.button {
    width: 197px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #FFC862;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    color: #602F00;
}
.button:visited{
    color:#602F00;
}
.button:hover{
    color: #FF7E00;
}
.hero{
    background-image: url(bi.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
}
.hero-content{
    height: 100%;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    flex-wrap: wrap;
}
.fl-l{
    width: 35%;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: left; 
}
.fl-r{
    width: 40%;
    text-align: right; 
    
}
.wlc{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    text-transform: uppercase;
    margin-bottom: 0px;   
}
p{
    font-size: 15px;
    line-height: 23px;
    font-weight: 400; 
    margin-bottom: 80px;
}
.reasons{
    color: #3A1D00;
    margin-top: 60px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
    font-size: 36px;
}
.r-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    
}
.block-img{
    width: 325px;
    height: 273px;
    background: #FFC862;
    border-radius: 10px;
    margin: 15px;
    text-align: center;
    transition-duration: 2s;
   

    
}
.img-back{
    width: 325px;
    height: 218px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 2s;

}
.img1{
    background-image: url(img1.png);
    

}
.img2{
    background-image: url(img2.png);
}
.img3{
    background-image: url(img3.png);
}
.img4{
    background-image: url(img4.png);
}
.img5{
    background-image: url(img5.png);
}
.img6{
    background-image: url(img6.png);
}
.text{
    margin-top: 15px;
    color: #3A1D00;
    font-weight: 600;
    font-size: 20px;   

    
}
.block-img:hover .img-back{
    transform: translate(-20px, -20px); 
}
.block-img:hover .text{
    color: white;
]
  
}
.block-img:hover{
    background: #FF7E00;
}
.r-block{
    margin-bottom: 80px;
}
.accent{
    background-image: url(bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 687px;
}
.bg-bast{
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-between;
    height: 100%;
}
.bast-left{
    width: 40%;
    padding: 96px 40px;
    
}
.bast-right{
    width: 55%;
    text-align: right;
}
.imgs{
   width: 100%;
}
.footer{
    width: 100%;
    height: 160px;
    color: #909090;
    background-color: #F5F5F9;
    background-size: cover; 
}
.footer-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.menu-link-f{
    
    margin-left: 18px;
    font-size: 16px;
    color: #909090; 
}
.footer-loc{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
@media(max-width: 1279px){ 
    .inner-padding {
       padding-left: 40px;
       padding-right: 40px;
    }
    .outer-width {
        max-width: 768px;
        margin: 0 auto;
    }
    .hero{
        height: 387px;
        max-width: 100%;
    }
    .wlc{
        font-size: 36px;
        margin-top: 0;
    }
    .fl-l{
        width: 50%;
    }
    .fl-r{
        width: 50%;
    }
    .button{
        margin-top: 0;
        margin-bottom: 63px;
    }
    .hero__sub{
        margin-bottom: 20px;
    }
    .hero__img{
        min-width: 100%;
    }
}
   



