@font-face{
    font-family: Proxima Nova;
    src: url(Proxima\ Nova.ttf);
}
body *{
    
  
    box-sizing: border-box;
    font-family: Proxima Nova;
}
.header{
    height: 75px;
    background-color: #fff;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.outer-width {
    max-width: 1280px;
    margin: 0 auto; 

}
.inner-padding{
    padding-left: 108px;
    padding-right: 108px;
} 
.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.menu ul{
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;  
}
.menu-link{
    margin-left: 18px;
    font-size: 16px;
    color: black; 
}


a{
    text-decoration: none;
}
a:visited{
    color: black;
}
a:hover{
    color: #FF7E00;
}
.button {
    width: 197px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background: #FFC862;
    border-radius: 4px;
    border: none;
    text-decoration: none;
    font-size: 16px;
    color: #602F00;
   
}

.button:visited{
    color:#602F00;
}
.button:hover{
    color: #FF7E00;
}

.main{

}
.hero{
    background-image: url(bi.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
}
.hero-content{
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fl-l{
    width: 40%;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    
}
.fl-r{
    width: 50%;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;
    
}
h1{
    font-family: Proxima Nova;
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    text-transform: uppercase;
    padding-bottom: 0;
    margin-bottom: 0;
}
p{
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
   
}
.wlc{
    text-align: left;
}

